# **Mineduc Data Cleansing** ‚ú®

***

## **Import Libraries** ‚¨áÔ∏è

In [16]:
# Data manipulation and visualization
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Standard libraries
import warnings
warnings.filterwarnings('ignore')

# ===== ===== Reproducibility Seed ===== =====
# Set a fixed seed for the random number generator for reproducibility
random_state = 42

# Set matplotlib inline
%matplotlib inline

# Set default figure size
plt.rcParams['figure.figsize'] = (6, 4)

# Define custom color palette
palette = sns.color_palette("viridis", 12)

## **Data Upload** üìÑ

In [17]:
df = pd.read_csv('data/establecimientos.csv')
df

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINIA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,H√âCTOR ROLANDO CHUN POOU,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,VICTOR HUGO DOM√çNGUEZ REYES,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9349,19-09-0048-46,19-021,ZACAPA,LA UNION,"LICEO PARTICULAR MIXTO "" JIREH""",BARRIO NUEVO,79418369,ASBEL IVAN SUCHITE ARROYO,ANA MAR√çA CUELLAR GUERRA,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN D√çA A LA SEMANA),ZACAPA
9350,19-10-0013-46,19-015,ZACAPA,HUITE,INSTITUTO DIVERSIFICADO,BARRIO BUENOS AIRES,47097386,SILDY MARIELA PEREZ FRANCO,MARLON JOSU√â ARCHILA LORENZO,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),ZACAPA
9351,19-10-1009-46,19-015,ZACAPA,HUITE,INSTITUTO MIXTO DE EDUCACION DIVERSIFICADA POR...,BARRIO EL CAMPO,55958103,SILDY MARIELA PEREZ FRANCO,ROBIDIO PORTILLO SALGUERO,DIVERSIFICADO,COOPERATIVA,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),ZACAPA
9352,19-11-0018-46,19-020,ZACAPA,SAN JORGE,INSTITUTO MIXTO DE EDUCACI√ìN DIVERSIFICADA POR...,BARRIO EL CENTRO,41447589,ALBA LUZ MENDEZ,VICTOR HUGO GUERRA MONROY,DIVERSIFICADO,COOPERATIVA,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ZACAPA
9353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Exploratory Analysis** üîé

Este conjunto de datos se enfoca en la recopilaci√≥n de informaci√≥n sobre establecimientos educativos en el pa√≠s Guatemala. Los datos fueron obtenidos de la p√°gina oficial del [Ministerio de Educaci√≥n](https://www.mineduc.gob.gt/BUSCAESTABLECIMIENTO_GE/). Incluye m√°s de 9000 registros, aunque esto se detallar√° m√°s adelante, que abarcan detalles de relevancia para el an√°lisis y gesti√≥n de la educaci√≥n en el pa√≠s.

### **(1) Descripci√≥n y An√°lisis de los Datos**

In [18]:
# Print the number of records in the DataFrame
print("The given dataset has", df.shape[0], "registers and", df.shape[1], "columns.")

The given dataset has 9354 registers and 17 columns.

El conjunto de datos original contiene 9354 registros y 17 columnas, lo que sugiere que posee una dimensi√≥n relativamente grande. Cada uno de los 9354 registros representa una observaci√≥n √∫nica, mientras que las 17 columnas corresponden a diferentes caracter√≠sticas o variables medidas para cada observaci√≥n.

In [19]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9354 entries, 0 to 9353
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           9331 non-null   object
 1   DISTRITO         9123 non-null   object
 2   DEPARTAMENTO     9331 non-null   object
 3   MUNICIPIO        9331 non-null   object
 4   ESTABLECIMIENTO  9331 non-null   object
 5   DIRECCION        9280 non-null   object
 6   TELEFONO         8792 non-null   object
 7   SUPERVISOR       9122 non-null   object
 8   DIRECTOR         8434 non-null   object
 9   NIVEL            9331 non-null   object
 10  SECTOR           9331 non-null   object
 11  AREA             9331 non-null   object
 12  STATUS           9331 non-null   object
 13  MODALIDAD        9331 non-null   object
 14  JORNADA          9331 non-null   object
 15  PLAN             9331 non-null   object
 16  DEPARTAMENTAL    9331 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

En el an√°lisis preliminar del conjunto de datos, se observa que varias columnas, aunque almacenadas como objetos, contienen datos que podr√≠an beneficiarse de una conversi√≥n a tipos m√°s apropiados aunque no es escencial. Por ejemplo, las columnas CODIGO, TELEFONO y DISTRITO, a pesar de ser objetos, ***podr√≠an*** ser tratadas como datos categ√≥ricos o num√©ricos si se requiere un an√°lisis m√°s detallado. Sin embargo, estas son decisiones que se tomar√°n en el futuro y por ahora es una simple observaci√≥n.

### Variables del Conjunto de Datos

| Nombre           | Descripci√≥n                                                                                       | Clasificaci√≥n                                                                                   |
|------------------|---------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------|
| C√≥digo           | Identifica de manera √∫nica a cada establecimiento.                                                | Variable cualitativa descriptiva                                                               |
| Establecimiento  | Nombre del establecimiento educativo.                                                             | Variable cualitativa descriptiva                                                               |
| Direcci√≥n        | Ubicaci√≥n f√≠sica del establecimiento.                                                             | Variable cualitativa descriptiva                                                               |
| Tel√©fono         | N√∫mero de tel√©fono del establecimiento.                                                           | Variable  cualitativa descriptiva                                                                 |
| Director         | Nombre del director del establecimiento.                                                          | Variable cualitativa descriptiva                                                               |
| Distrito         | Clasifica el establecimiento dentro de un distrito espec√≠fico.                                     | Variable cualitativa categ√≥rica                                                                |
| Departamento     | Indica el departamento donde se encuentra cada establecimiento.                                    | Variable cualitativa categ√≥rica                                                                |
| Municipio        | Define el municipio donde se localiza cada establecimiento.                                        | Variable cualitativa categ√≥rica                                                                |
| Nivel            | Nivel educativo ofrecido por el establecimiento (ej. diversificado, primaria, etc.).               | Variable cualitativa categ√≥rica                                                                |
| Sector           | Tipo de sector educativo (ej. p√∫blico, privado).                                                  | Variable cualitativa categ√≥rica                                                                |
| √Årea             | √Årea geogr√°fica del establecimiento (ej. urbana, rural).                                          | Variable cualitativa categ√≥rica                                                                |
| Estado           | Estado actual del establecimiento (ej. abierto, cerrado).                                          | Variable cualitativa categ√≥rica                                                                |
| Modalidad        | Modalidad de ense√±anza ofrecida (ej. monoling√ºe, biling√ºe).                                        | Variable cualitativa categ√≥rica                                                                |
| Jornada          | Tipo de jornada educativa (ej. matutina, vespertina).                                              | Variable cualitativa categ√≥rica                                                                |
| Plan             | Plan educativo implementado (ej. diario, semanal).                                                | Variable cualitativa categ√≥rica                                                                |
| Departamental    | Departamento administrativo al que pertenece el establecimiento.                                   | Variable cualitativa categ√≥rica                                                                |
| Supervisor       | Nombre del supervisor del establecimiento.                                                        | Variable cualitativa categ√≥rica                                                                |

**Observaciones -->**

> - El conjunto de datos posee alrededor de 4 variables cualitativas descriptivas.
> - El resto de variables, 12 de ellas, son variables cualitaticas categ√≥ricas.

### **(2) Exploraci√≥n y Limpieza Inicial de los Datos**

In [20]:
# Transpose the first 3 rows of the DataFrame
# to display column names as rows for better readability.
df.head(3).T

,0,1,2
CODIGO,16-01-0138-46,16-01-0139-46,16-01-0140-46
DISTRITO,16-031,16-031,16-031
DEPARTAMENTO,ALTA VERAPAZ,ALTA VERAPAZ,ALTA VERAPAZ
MUNICIPIO,COBAN,COBAN,COBAN
ESTABLECIMIENTO,COLEGIO COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,"COLEGIO ""LA INMACULADA"""
DIRECCION,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,KM 209.5 ENTRADA A LA CIUDAD,7A. AVENIDA 11-109 ZONA 6
TELEFONO,77945104,77367402,78232301
SUPERVISOR,MERCEDES JOSEFINA TORRES GALVEZ,MERCEDES JOSEFINA TORRES GALVEZ,MERCEDES JOSEFINA TORRES GALVEZ
DIRECTOR,GUSTAVO ADOLFO SIERRA POP,GILMA DOLORES GUAY PAZ DE LEAL,VIRGINIA SOLANO SERRANO
NIVEL,DIVERSIFICADO,DIVERSIFICADO,DIVERSIFICADO
SECTOR,PRIVADO,PRIVADO,PRIVADO
AREA,URBANA,URBANA,URBANA
STATUS,ABIERTA,ABIERTA,ABIERTA
MODALIDAD,MONOLINGUE,MONOLINGUE,MONOLINGUE
JORNADA,MATUTINA,MATUTINA,MATUTINA
PLAN,DIARIO(REGULAR),DIARIO(REGULAR),DIARIO(REGULAR)
DEPARTAMENTAL,ALTA VERAPAZ,ALTA VERAPAZ,ALTA VERAPAZ

**Modificaci√≥n de Etiquetas de Variables -->**

Para facilitar la comprensi√≥n y el manejo del conjunto de datos, se proceder√° a modificar los nombres de las variables. Este cambio permitir√° una organizaci√≥n m√°s clara y una interpretaci√≥n m√°s precisa de la informaci√≥n.

In [21]:
rename_col = {
    'CODIGO': 'code',
    'DISTRITO': 'district',
    'DEPARTAMENTO': 'department',
    'MUNICIPIO': 'municipality',
    'ESTABLECIMIENTO': 'school_name',
    'DIRECCION': 'address',
    'TELEFONO': 'phone',
    'SUPERVISOR': 'supervisor',
    'DIRECTOR': 'director',
    'NIVEL': 'education_level',
    'SECTOR': 'sector',
    'AREA': 'area',
    'STATUS': 'status',
    'MODALIDAD': 'teaching_mode',
    'JORNADA': 'schedule',
    'PLAN': 'plan',
    'DEPARTAMENTAL': 'departmental'
}

In [22]:
# Use a pandas function to rename the current function
df = df.rename(columns = rename_col)
df.head(2)

,code,district,department,municipality,school_name,address,phone,supervisor,director,education_level,sector,area,status,teaching_mode,schedule,plan,departmental
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ

#### **(1) Frecuencias y Conteo de los Datos**

In [23]:
# Create a list with descriptive columns
descriptive = ["code", "school_name", "address", "director", "number"]

# Create a list with categorical columns
categorical = ["district", "department", "municipality", "education_level", "sector", "area", "status", "teaching_mode", "schedule", "plan", "departmental", "supervisor"]

In [24]:
group_size = 6  # Len of groups to show
num_groups = len(categorical) // group_size + (len(categorical) % group_size > 0) # Number of groups

# Iterate over the groups and print the description
for i in range(num_groups):
    start = i * group_size
    end = (i + 1) * group_size
    group_cols = categorical[start:end]    
    
    # Use .describe() to get the description of the columns
    description = df[group_cols].describe()
    styler = description.style.set_table_styles([
        {'selector': 'th', 'props': [('font-weight', 'bold')]}
    ])
    # Display the description
    display(styler)

**Top 10 Valores Por Columna -->**

In [25]:
# See what are the 10 most frequent values for each of the dataframe columns
for column in df.columns:
    frequency_values = df[column].value_counts().head(10)
    print("Top 10 most frequent values for column '{}':".format(column))
    for index, (value, frequency) in enumerate(frequency_values.items(), start=1):
        print("{:<5} {:<30} {:<10}".format(index, value, frequency))
    print("\n===============================================")

Top 10 most frequent values for column 'code':
1     19-11-0018-46                  1
2     16-01-0138-46                  1
3     16-01-0139-46                  1
4     19-06-0015-46                  1
5     19-06-0008-46                  1
6     19-06-0005-46                  1
7     19-05-1080-46                  1
8     19-05-0343-46                  1
9     19-05-0052-46                  1
10    19-05-0051-46                  1

===============================================
Top 10 most frequent values for column 'district':
1     01-403                         268
2     11-017                         176
3     05-033                         167
4     01-411                         167
5     18-008                         130
6     05-007                         104
7     01-641                         103
8     18-039                         102
9     03-002                         95
10    10-019                         95

===============================================
Top 10 most frequent values for column 'department':
1     CIUDAD CAPITAL                 1564
2     GUATEMALA                      1477
3     ESCUINTLA                      628
4     SAN MARCOS                     574
5     HUEHUETENANGO                  516
6     QUETZALTENANGO                 491
7     SUCHITEPEQUEZ                  385
8     ALTA VERAPAZ                   374
9     IZABAL                         368
10    PETEN                          366

===============================================
Top 10 most frequent values for column 'municipality':
1     ZONA 1                         633
2     MIXCO                          428
3     VILLA NUEVA                    370
4     QUETZALTENANGO                 248
5     RETALHULEU                     185
6     ZONA 7                         175
7     MAZATENANGO                    173
8     ESCUINTLA                      172
9     CHIMALTENANGO                  165
10    HUEHUETENANGO                  160

===============================================
Top 10 most frequent values for column 'school_name':
1     INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA 332
2     INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA 93
3     CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX- 33
4     INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA 27
5     INSTITUTO DIVERSIFICADO POR COOPERATIVA 23
6     INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONICA (IGER) 20
7     INSTITUTO DE EDUCACI√ìN DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA 19
8     INSTITUTO DE COMPUTACION INFORMATICA 18
9     ESCUELA NORMAL DE EDUCACION FISICA 17
10    INSTITUTO DIVERSIFICADO POR COOPERATIVA DE ENSE√ëANZA 15

===============================================
Top 10 most frequent values for column 'address':
1     CABECERA MUNICIPAL             270
2     BARRIO EL CENTRO               60
3     BARRIO EL CALVARIO             19
4     BARRIO EL PORVENIR             19
5     BARRIO LAS FLORES              15
6     ALDEA CAMOJALLITO              14
7     CALLE PRINCIPAL                14
8     ALDEA PLAYITAS                 13
9     BARRIO SAN SEBASTIAN           12
10    BARRIO EL MITCHAL              12

===============================================
Top 10 most frequent values for column 'phone':
1     22067425                       21
2     79480009                       14
3     77602663                       13
4     22093200                       12
5     59304894                       11
6     77746400                       11
7     45353648                       11
8     78899679                       10
9     22322912                       10
10    24637777                       10

===============================================
Top 10 most frequent values for column 'supervisor':
1     CARLOS HUMBERTO GONZALEZ DE LEON 333
2     MIGUEL ANGEL ARMAS ROCHA       228
3     JUAN ENRIQUE MARTINEZ SOLANO   167
4     REMY ARTURO SINAY GUDIEL       167
5     ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA 130
6     JUAN FRANCISCO GODOY DAVILA    104
7     MILTON ALONSO ALVAREZ FUENTES  103
8     ELSA YADIRA MARTINEZ PEREZ     102
9     IDALIA DEL ROSARIO LOPEZ SANDOVAL DE PAIZ 102
10    ZOILA ESTHELA JONFE OROZCO     95

===============================================
Top 10 most frequent values for column 'director':
1     ---                            83
2     ----                           28
3     --                             27
4     SIN DATO                       14
5     -----                          14
6     MAR√çA DOLORES P√âREZ TUCH√ÅN     12
7     MARCO ANTONIO CASTA√ëEDA FLORES 11
8     MARIA DEL ROSARIO LOPEZ ESCOBAR DE PAZ 11
9     .                              10
10    ZOILA ERNESTINA MORALES GODOY  9

===============================================
Top 10 most frequent values for column 'education_level':
1     DIVERSIFICADO                  9331

===============================================
Top 10 most frequent values for column 'sector':
1     PRIVADO                        7956
2     OFICIAL                        990
3     COOPERATIVA                    245
4     MUNICIPAL                      140

===============================================
Top 10 most frequent values for column 'area':
1     URBANA                         7606
2     RURAL                          1723
3     SIN ESPECIFICAR                2

===============================================
Top 10 most frequent values for column 'status':
1     ABIERTA                        6545
2     CERRADA TEMPORALMENTE          2663
3     TEMPORAL TITULOS               120
4     TEMPORAL NOMBRAMIENTO          3

===============================================
Top 10 most frequent values for column 'teaching_mode':
1     MONOLINGUE                     9039
2     BILINGUE                       292

===============================================
Top 10 most frequent values for column 'schedule':
1     DOBLE                          3037
2     VESPERTINA                     2567
3     MATUTINA                       2382
4     SIN JORNADA                    964
5     NOCTURNA                       289
6     INTERMEDIA                     92

===============================================
Top 10 most frequent values for column 'plan':
1     DIARIO(REGULAR)                5721
2     FIN DE SEMANA                  2328
3     SEMIPRESENCIAL (FIN DE SEMANA) 481
4     SEMIPRESENCIAL (UN D√çA A LA SEMANA) 398
5     A DISTANCIA                    143
6     SEMIPRESENCIAL                 86
7     SEMIPRESENCIAL (DOS D√çAS A LA SEMANA) 57
8     VIRTUAL A DISTANCIA            50
9     SABATINO                       41
10    DOMINICAL                      19

===============================================
Top 10 most frequent values for column 'departmental':
1     GUATEMALA NORTE                1050
2     GUATEMALA SUR                  833
3     GUATEMALA OCCIDENTE            785
4     ESCUINTLA                      628
5     SAN MARCOS                     574
6     HUEHUETENANGO                  516
7     QUETZALTENANGO                 491
8     SUCHITEP√âQUEZ                  385
9     ALTA VERAPAZ                   374
10    GUATEMALA ORIENTE              373

===============================================

**Observaciones -->**

Es importante se√±alar que la columna `code` contiene √∫nicamente valores √∫nicos para cada entrada, lo que sugiere que no aporta informaci√≥n significativa al conjunto de datos y podr√≠a considerarse prescindible para los an√°lisis posteriores.

Por otro lado, la columna `district` presenta m√∫ltiples entradas repetidas, siendo 01-403 la m√°s frecuente en el conjunto de datos. Esta repetici√≥n podr√≠a ser √∫til para identificar patrones en la distribuci√≥n de la data, aunque se requiere un an√°lisis m√°s profundo para determinar su relevancia.

En cuanto a la columna `municipality`, se ha observado que contiene entradas inconsistentes. En esta columna se registran, en su mayor√≠a, los nombres de los municipios de los departamentos, pero tambi√©n aparecen nombres de zonas espec√≠ficas de la ciudad capital, lo que indica una falta de un formato de entrada adecuado. En relaci√≥n con esto √∫ltimo, es importante tener en cuenta que los municipios de Guatemala no incluyen sus zonas, por lo que la presencia de estas entradas no solo es inconsistente, sino tambi√©n incorrecta en el contexto de los datos. Todo esto ees algo a tomar en consideraci√≥n durante el proceso de limpieza.

Un aspecto interesante relacionado con la integridad de los datos se observa en la columna `director`. En esta columna, se encuentran 83 valores representados como "---", 28 como "----", 27 como "--" y 14 como "SIN DATO". Esta variedad en la representaci√≥n de los valores nulos es significativa y debe ser considerada cuidadosamente en el an√°lisis de datos faltantes. Es crucial realizar las modificaciones necesarias para clasificar correctamente estos valores nulos, ya que su manejo inadecuado podr√≠a afectar las conclusiones extra√≠das del conjunto de datos. Vemos este mismo problema en la columna `area`, donde los valores nulos tienen OTRO tipo de codificaci√≥n, siendo esta "SIN ESPECIFICAR".

Por otro lado, la columna `education_level` presenta una notable falta de diversidad en sus entradas, ya que se limita √∫nicamente al valor "DIVERSIFICADO". Esta homogeneidad plantea la pregunta sobre la utilidad de esta columna en la data, ya que no proporciona informaci√≥n escencial que permita realizar comparaciones o an√°lisis significativos.

La columna `plan` presenta una distribuci√≥n notablemente desigual en sus valores, con "DIARIO(REGULAR)" como el m√°s frecuente y otros planes mostrando significativamente menos entradas.  Se considera que se deber√≠a realizar una limpieza de datos en esta columna, lo que incluye verificar la consistencia en la nomenclatura de los planes, unificar categor√≠as similares, manejar posibles datos faltantes y considerar la eliminaci√≥n o agrupaci√≥n de planes con baja frecuencia que no aporten valor significativo.

La columna `departamental` incluye nombres de departamentos del pa√≠s, pero tambi√©n presenta regiones espec√≠ficas que son inconsistentes en su nomenclatura. Dada esta situaci√≥n, se sugiere agrupar ciertas entradas para proporcionar mayor coherencia y utilidad a la columna. En particular, ser√≠a recomendable unificar las diversas regiones de la ciudad capital bajo la etiqueta "Guatemala" y asegurarse de que no existan otras entradas que est√©n separadas por regiones, lo que podr√≠a llevar a confusiones en el an√°lisis.

#### **(2) An√°lisis de Valores Duplicados**

In [26]:
# Check duplicate rows in dataset
df = df.drop_duplicates()

In [27]:
# Print the number of records in the DataFrame
print("The given dataset has", df.shape[0], "registers and", df.shape[1], "columns.")

The given dataset has 9332 registers and 17 columns.

**Observaciones -->**

> - Se identificaron 22 entradas duplicadas en el conjunto de datos, lo que representa aproximadamente el 0.5% del total.
> - Este problema ya fue abordado durante la etapa de limpieza preliminar.